@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
}

main{
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 1000px;
    background-image: url('imagens/inicial.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 8px;
}

div{
    background-color: white;
}

.container{
    display: flex;
    align-items: center;
}

.top{
    margin: 30px 0px 0px 60px;
}

h1{
    margin-left: 150px;
    font-size: 3.2em;
}

h2{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(207, 0, 0), transparent);
    border-radius: 5px;
}

h3{
    text-align: center;
    padding: 20px;
}

nav{
    padding: 10px;
    text-align: center;
    background-color: white;
}

nav a{
    padding: 11px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(207, 0, 0);
}

nav > a:hover{
    background-color: rgba(139, 0, 0, 0.493);
    color: white;
    border-radius: 5px;
    transition-duration: 0.3s;
}

section p{
    padding: 20px 0px;
    text-align: center;
    text-indent: 30px;
    line-height: 1.5em;
}

.imagem{
    display: inline-block;
    margin: auto;
    width: 280px;
    height: 180px;
    padding: 10px;
    padding-left: 20px;
}

.video{
    margin: auto;
    padding: 30px;
    padding-left: 214px;
}

.mapa{
    padding: 30px;
    padding-left: 205px;
}

.comentario{
    margin-left: 100px;
    width: 750px;
    height: 200px;
}

.button{
    margin-left: 790px;
    margin-bottom: 20px;
    padding: 10px;
}

.iden{
    padding: 10px;
    margin-left: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.iden:hover{
    background-color: rgba(139, 0, 0, 0.493);
    color: white;
    transition-duration: 0.3s;
    border-radius: 5px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: grey;
    color: white;
}

footer a{
    text-decoration: none;
    color:white;
}

footer a:hover{
    color:rgb(207, 0, 0);
}